div {
  display: block;
}

.main {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: white;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  margin-left: 20px;
}

.nav {
  display: block;
  padding-right: 20px;
}

.nav span {
  display: inline-block;
  padding: 20px 10px;
}

.nav span a {
  color: black;
}

.logo span {
  margin-left: 10px;
}

.main {
  display: flex;
}

.column {
  display:flex;
  flex-direction: column;
  margin-right: 32px;
}

.column .large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column .medium {
  width: 300px;
  display: flex;
  margin-right:32px;
}

.column .small {
  width: 240px;
  display: flex;
  margin-right: 32px;
}

.main-headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 16px;
}

p {
  display: block;
}

.image-content {
  display: flex;
  height:300px;
  text-align: center;
}

.main-story .image-content {
  background-image: url("../images/img-story-main.png");
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.earth-spin {
  background-image: url("../images/img-story-2.png");
}

.cameras {
  background-image: url("../images/img-story-3-camera.png");
}

.cat {
  background-image: url("../images/img-story-1-cat.png");
  display: flex;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.main-story {
  display: block;
  width: 630px;
}
